<!DOCTYPE html>
<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Walter+Turncoat&display=swap" rel="stylesheet">
	</head>
	<body>
			<div id="h1">
				<h1 class="main-title">Enercoop: Un fournisseur 100% &eacute;nergies renouvelables</h1>
			</div>
			<div id="milieu">
				<div id="temoignages">
					<p class="element">De loin le meilleur fournisseur que j'aie jamais vu.<br />
					<%= image_tag("edf_logo") %></p>
					<p class="element">C'est dur de l'admettre mais Enercoop m&eacute;rite d'&ecirc;tre<br /> le fournisseur num&eacute;ro 1.<br />
					<%= image_tag("engie_logo") %></p>
					<p class="element">Si vous voulez aider la plan&egrave;te, commencez par eux.<br />
					<%= image_tag("total_logo") %></p>
				</div>
				<div id=schemas>
					<%= image_tag("schema_enercoop5") %>
					<%= image_tag("schema_nucleaire") %>
				</div>
				<div id="video">
					<iframe class="video" width="300" height="500" src="https://www.youtube.com/embed/xlwNxoGioWQ" frameborder="0" allow="autoplay" allowFullScreen></iframe>
				</div>
			</div>
	</body>
</html>